<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">

<Appenders>
    <Console name="LogConsole" target="SYSTEM_OUT">
        <PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %m%n"/>
    </Console>
    <RollingFile name="LogFile" fileName="D:/EPAM/taxi/logs/logs.log"
                 filePattern="target/rolling2/test1-%d{MM-dd-yy-HH-mm-ss}-%i.log"
                 advertiseURI="D:/EPAM/taxi/logs/logs.log" advertise="true">
        <PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %m%n"/>
        <Policies>
            <TimeBasedTriggeringPolicy/>
            <SizeBasedTriggeringPolicy size="10 MB"/>
        </Policies>
    </RollingFile>
</Appenders>
<Loggers>
    <logger name="com.zaxxer.hikari.pool.PoolBase" level="ERROR"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR"/>
    <Root level="debug">
        <AppenderRef ref="LogFile"/>
        <AppenderRef ref="LogConsole"/>
    </Root>
</Loggers>
</Configuration>