<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">

<Appenders>
    <Console name="LogConsole" target="SYSTEM_OUT">
        <PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %m%n"/>
    </Console>
    <RollingFile name="LogFile" fileName="D:/EPAM/taxi/logs/logs.log" append="true"
                 filePattern="taxi/log-%d{dd.MM.yy HH.mm.ss}-%i.log">
        <PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %m%n"/>
        <Policies>
            <TimeBasedTriggeringPolicy/>
            <SizeBasedTriggeringPolicy size="5 MB"/>
        </Policies>
    </RollingFile>
</Appenders>
<Loggers>
    <logger name="com.zaxxer.hikari.pool.PoolBase" level="ERROR"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="ERROR"/>
    <logger name="com.zaxxer.hikari.util.DriverDataSource" level="ERROR"/>
    <Root level="debug">
        <AppenderRef ref="LogFile"/>
        <AppenderRef ref="LogConsole"/>
    </Root>
</Loggers>
</Configuration>